body {
  padding: 0;
  margin: 0;
}

.site {
  background: white;
  padding: 50px 0;
}

a {
  text-decoration: none;
}

ol {
  list-style: none;
}

.lightText {
  color: gray;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
}

.normalText {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

.boldText {
  padding-top: 15px;
  display: inline-block;
  color: #6649F6;
  font-family: 'Gentium Basic', serif;
  font-size: 40px;
  font-weight: 700;
}

.bullet {
  margin-right: 25px;
  width: 15px;
  height: 15px;
  background: #6649F6;
  border-radius: 50%;
  display: inline-block;
}

.button {
  border-radius: 3px;
  background: #6649F6;
  color: white;
  cursor: pointer;
  font-family: 'Gentium Basic', serif;
  font-weight: 400;
  padding: 10px 35px 10px 35px;
  display: inline-block;
}

.startNav {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 80px 40px;
  align-items: center;
  padding-bottom: 80px;
  max-width: 1400px;
  min-width: 1400px;
  margin: auto;
}

.hello {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 100px; 
  max-width: 1400px;
  min-width: 1400px;
  margin: auto;
}

.hello > .image {
  width: 45%;
}

.hello > .content {
  width: 35%;
}

.content > .boldText {
  padding: 0;
}

.content > .subhead {
  margin: 10px 0;
  font-size: 20px;
}

.content > .button {
  margin: 20px 0;
}

.about {
  display: flex;
  padding: 80px 100px;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  min-width: 1400px;
  margin: auto;
}

.about > .image {
  width: 50%;
}

.about > .me {
  width: 45%;
}

.me > .lightText {
  margin: 10px 0;
}

.me > .button {
  margin: 20px 0;
}

.portfolio {
  background-image: linear-gradient(to bottom right, #6649F6, purple);
  padding: 80px 0;
}

.portfolio > .head {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  max-width: 1400px;
  min-width: 1400px;
  margin: auto;
}

.head > .title {
  width: 50%;
}

.title > .boldText, .title > .lightText {
  color: white;
}

.head > .button {
  background: white;
  color: #6649F6;
}

.work-card {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
}

.work-container {
  perspective: 1000px;
}

.work{
  display: inline-block;
  padding: 30px 50px 50px 50px;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #6649F6, purple);
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  max-width: 200px;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 10px;
  box-shadow: 5px 10px 30px -4px hsla(0, 0%, 0%, 0.15);
}

.work:hover {
  box-shadow: 10px 15px 50px -4px hsla(0, 0%, 0%, 0.15);
  transform: translateZ(0px)
}

.work > .normalText {
  margin-bottom: 25px;
  font-size: 24px;
}

.work > .lightText {
  margin-bottom: 25px;
}

.hireMe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 100px;
  max-width: 1400px;
  min-width: 1400px;
  margin: auto;
}

.hireMe > .des {
  width: 40%;
}

.hireMe > .pointers {
  width: max-content;
}

.des > .lightText {
  width: 490px;
  margin: 30px 0 30px 0;
}

.pointers ol {
  padding: 0;
}

.pointers li {
  margin-bottom: 20px;
}

.pointers .points {
  display: flex;
  align-items: center;
}

.text {
  display: inline-block;
}

.people {
  padding: 80px 100px;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  min-width: 1400px;
  margin: auto;
}

.people > .comments {
  width: 60%;
}

.people > .image {
  width: 30%;
  height: -webkit-fill-available;
}

.endMail {
  box-shadow: 5px 10px 30px -4px hsla(0, 0%, 0%, 0.15);
  border: 1px solid #DCDCDC;
  cursor: pointer;
  border-radius: 7px;
  text-align: center;
  padding: 40px 180px 40px 180px;
  width: max-content;
  margin: 100px auto 100px auto;
}

.endNav {
  text-align: center;
}

.endNav > ol {
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

.endNav li {
  display: inline;
  margin: 30px;
}

.icons {
  text-align: center;
}

.fab {
  font-size: 20px;
  margin: 20px;
  color: #6649F6;
}

.endNote {
  text-align: center;
  margin: 20px 0 0 0;
}
